* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #EEEEEE;
  height: 80px;
  position: relative;
}
nav .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  line-height: 80px;
  z-index: 100;
}
nav .container .container-logo {
  margin-left: 20px;
  z-index: 100;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
nav .container .container-logo a {
  text-decoration: none;
}
nav .container .container-logo a h2 {
  color: #FF4500;
  font-weight: bold;
  font-size: 28px;
  margin: 0px;
}
nav .container .nav-links .item {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .container .nav-links .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .container .nav-links .item a {
  font-size: 16px;
  margin: 0 25px;
  text-decoration: none;
  color: #707070;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .container .nav-links .active a {
  color: #373737;
  font-weight: bold;
}
nav .container .nav-links .active::after {
  content: "";
  display: block;
  border: 2px solid #FF4500;
}
nav .container .nav-links .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
nav .container .toggle {
  color: #FF4500;
  margin-right: 20px;
  font-size: 28px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: none;
}
@media screen and (max-width: 992px) {
  nav .container .toggle {
    display: inline-block;
  }
}
.main-home {
  min-height: 82vh;
}
.main-home .featured .featured__img .tshirt {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.main-home .featured .featured__img .tshirt img {
  width: 300px;
}
.main-home .featured .featured__description .description h3 {
  color: #FF4500;
  font-size: 16px;
  font-weight: bold;
}
.main-home .featured .featured__description .description h2 {
  color: #373737;
  font-weight: bold;
}
.main-home .featured .featured__description .description p, .main-home .featured .featured__description .description .button-content .add-amount .add-cart i {
  color: #707070;
}
.main-home .featured .featured__description .description .button-content .amount {
  background-color: #EEEEEE;
  padding: 10px 20px;
  gap: 30px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.main-home .featured .featured__description .description .button-content .amount #rest, .main-home .featured .featured__description .description .button-content .amount #plus {
  border: none;
  color: #FF4500;
}
.main-home .featured .featured__description .description .button-content .amount #value {
  margin: 0;
  color: #373737;
  font-weight: bold;
}
.main-home .featured .featured__description .description .button-content .add-amount .add-cart {
  background-color: #FF4500;
  border: 0.5px solid transparent;
  border-radius: 20px;
}
.main-home .featured .featured__description .description .button-content .add-amount .add-cart p, .main-home .featured .featured__description .description .button-content .add-amount .add-cart i {
  color: #FFFFFF;
  font-size: 18px;
  margin: 0px;
  padding: 8px 10px;
  font-weight: bold;
}

.footer-home .services .message i {
  color: #FF4500;
}
.footer-home .services .message .text h4 {
  font-weight: bold;
  color: #707070;
  font-size: 18px;
}
.footer-home .services .message .text p, .footer-home .services .message .text .main-home .featured .featured__description .description .button-content .add-amount .add-cart i, .main-home .featured .featured__description .description .button-content .add-amount .add-cart .footer-home .services .message .text i {
  font-size: 13px;
  color: #707070;
}
.footer-home .services .message:not(.last):after {
  display: block;
  content: "";
  border: 1px solid #707070;
  height: 30px;
}
.footer-home .copyright {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}