nav {
    background: map-get($color, "gray");
    height: 80px;
    position: relative;
    .container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        line-height: 80px;
        z-index: 100;
        // LOGO
        .container-logo {
            margin-left: 20px;
            z-index: 100;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            a {
                text-decoration: none;
                h2 {
                    color: map-get($color, "primary");
                    font-weight: bold;
                    font-size: map-get($f-size, "heading");
                    margin: 0px;
                }
            }  
        }
        // LINKS
        .nav-links {
            .item {
                display: inline-block;
                list-style-type: none;
                transition: .3s;
                &:hover {
                    transform: scale(1.1);
                }
                a {
                    font-size: 16px;
                    margin: 0 25px;
                    text-decoration: none;
                    color: map-get($color, "secondary");
                    transition: .3s;
                }
            }
            .active {
                a {
                    color: map-get($color, "black");
                    font-weight: bold;
                }
                &::after {
                    content: "";
                    display: block;
                    border: 2px solid map-get($color, "primary");
                }
                &:hover {
                    transform: scale(1);
                }
            }
        }
        // BUTTONS
        .toggle {
            color: map-get($color, "primary");
            margin-right: 20px;
            font-size: map-get($f-size, "heading");
            cursor: pointer;
            transition: .3s ease-in-out;
            display: none;
            
            @include mv(992px) {
                display: inline-block;
            }
        }
        
        .hidden {}
    }
    }