$font: 'Poppins', sans-serif;

$color:(
    "primary" : #FF4500,
    "secondary" : #707070,
    "black" : #373737,
    "white" : #FFFFFF,
    "gray" : #EEEEEE,
);

$f-size:(
    "heading" : 28px,
    "primary" : 22px,
    "secondary" : 18px,
    "descriptions" : 16px,
);

$buttons:(
    "add-cart" : 20px,
    "counter" : 20px, 
);