@import "./mixins";
* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

@import "./var";
//  ========================= NAVBAR =========================
@import "./navbar";
//  ========================= HOME =========================
@import "./home";
//  ========================= PRODUCTS =========================
@import "./products";
//  ========================= CART =========================
@import "./cart";